MANIFEST
/build
/dist
/tmp
/doc
/venv
*.py[cdo]
*.swp
*.swo
mitmproxyc
mitmdumpc
.coverage
.idea
netlib
libpathod
debian/files
debian/*.log
debian/mitmproxy
debian/python-module-stampdir
debian/*.substvars
debian/*.debhelper
